TOKEN=discord_bot_token
CLIENT_ID=discord_application_id
GUILD_ID=discord_server_id
TELEGRAM_BOT_TOKEN=
DATABASE_PATH=/data/database.sqlite
BACKUP_DIR=/data/backups

ACHIEVEMENTS_CHANNEL_ID=
LUCKY_DAY_CHANNEL_ID=
WELCOME_CHANNEL_ID=
LOG_CHANNEL_ID=
BOT_OWNER_ID=
DEVELOPER_ID=
DEV_MODE=false
